<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patrick's e-card in website form</title>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/module.css">
    <link rel="stylesheet" href="css/state.css">
  </head>
  <body>
    <header class='primary'>
      <h1>Patrick's badass page</h1>
    <nav>
      <a href='/' class='tab' data-name='projects'>Projects</a>
      <a href='/about' class='tab' data-name='about'>About Me</a>
      <a href='/resume' class='tab' data-name='resume'>My Resume</a>
      <a href='https://www.linkedin.com/profile/view?id=AAMAABukiQMBLn9BMyN2NLQwan4FVHEv0GKhbao&trk=hp-identity-name'>linkedIn</a>
      <a href="https://github.com/ptrompeter">gitHub</a>
    </nav>
  </header>
    <main>
      <%- body %>
    </main>
    <aside>
    </aside>
    <script id='template' type='text/template'><li class='project'>
      <a href={{link}}>
        <div class='title'>{{name}}</div>
        <div class='date'>{{date}}</div>
        <div class='pic'><img src='{{{image}}}'/></div>
        <div class='desc'>{{text}}</div>
      </a>
    </li>
  </script>
    <script src='js/repos.js'></script>
    <script src='js/works.js'></script>
  </body>
</html>
